<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>332751121856-rdafo9t9ocgdls3883kq2tj74l71gban.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.332751121856-rdafo9t9ocgdls3883kq2tj74l71gban</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>332751121856-g1nl7och4r0ku6140vk9dmf5dfcj6hu2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD12d9BzdqJxYFOA7y3tC0xf11zrwU_zoo</string>
	<key>GCM_SENDER_ID</key>
	<string>332751121856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.authenticationdemo</string>
	<key>PROJECT_ID</key>
	<string>flutterdemo-2680c</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterdemo-2680c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332751121856:ios:27c8d38de8869d0fd16c25</string>
	<key>DATABASE_URL</key>
	<string>https://flutterdemo-2680c-default-rtdb.firebaseio.com</string>
</dict>
</plist>